@page
@model Matdo.Web.Pages.Admin.Roles.RolesIndexModel
@{
    ViewData["Title"] = "Rollen";
}
<div class="page-head"><h1>Rollenverwaltung</h1></div>

<list-view id="roles">
    <list-table>
        <thead>
            <tr><th>Rolle</th><th>Beschreibung</th><th>Benutzer</th><th></th></tr>
        </thead>
        <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr>
                <td class="row-link">@row.Role.Name</td>
                <td>@row.Role.Description</td>
                <td>@row.UserCount</td>
                <td class="actions-cell">
                    <a class="btn small" href="/Admin/Roles/Edit?id=@row.Role.Id"><icon name="edit" size="14" /> Bearbeiten</a>
                </td>
            </tr>
        }
        </tbody>
    </list-table>

    <list-actions>
        <a class="btn btn-primary" href="/Admin/Roles/Edit"><icon name="plus" size="16" /> Neue Rolle</a>
    </list-actions>
</list-view>
